Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Boxhead-Bp/AI_Zombie.uasset
Content/Boxhead-Bp/AI_Zombie_C.uasset
Content/Boxhead-Bp/Blueprints/Ai/Ai-enemy.uasset
Content/Boxhead-Bp/Blueprints/Ai/AI_Zombie.uasset
Content/Boxhead-Bp/Blueprints/Ai/Demon.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DeathDemon.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/Demon.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/Demonatacc.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonMAt.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonTHIngy.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonTHIngy_Anim_Demon_Attacking.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonTHIngy_Anim_Demon_Death.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonTHIngy_Anim_Demon_IdleReal.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonTHIngy_Anim_Demon_Stagger.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonTHIngy_Anim_Demon_Stagger_Montage.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonTHIngy_Anim_Demon_Walking.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonTHIngy_PhysicsAsset.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/DemonTHIngy_Skeleton.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/throwaway/SecondaryDemonanimchnages/DemonTHIngy.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonAnimations/throwaway/SecondaryDemonanimchnages/DemonTHIngy_PhysicsAsset.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonSound/demon.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonSound/DemonSoundCue.uasset
Content/Boxhead-Bp/Blueprints/Ai/DemonSound/Monster_2021_10_26_14_36_43.uasset
Content/Boxhead-Bp/Blueprints/Ai/NewDemon.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/FirstZombieBoxhead.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/FirstZombieBoxhead_Anim_Skeleton_dEATH.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/FirstZombieBoxhead_Anim_Skeleton_Idle.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/FirstZombieBoxhead_Anim_Skeleton_Stagger.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/FirstZombieBoxhead_Anim_Skeleton_Walking.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/FirstZombieBoxhead_PhysicsAsset.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/Material.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/Stagger.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/WalkingBruh.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/zOMBIEaNIMBP.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/ZombieAttack/attackingZombie.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/ZombieAttack/FirstZombieBoxhead.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/ZombieAttack/FirstZombieBoxhead_Anim_Skeleton_Atacking.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/ZombieAttack/Zombieattacking.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/zOMBIEDEATH/FirstZombieBoxhead.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/zOMBIEDEATH/FirstZombieBoxhead_Anim_Skeleton_Death.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/zOMBIEDEATH/FirstZombieBoxhead_Anim_Skeleton_Death_Montage.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/zOMBIEDEATH/FirstZombieBoxhead_Anim_Skeleton_Idle.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/zOMBIEDEATH/FirstZombieBoxhead_Anim_Skeleton_Walking.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/zOMBIEDEATH/FirstZombieBoxhead_PhysicsAsset.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/zOMBIEDEATH/FirstZombieBoxhead_Skeleton.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/zOMBIEDEATH/Material.uasset
Content/Boxhead-Bp/Blueprints/Ai/ZombieAnimations/Zomzom.uasset
Content/Boxhead-Bp/Blueprints/AiSpawners/Ai_Spawner.uasset
Content/Boxhead-Bp/Blueprints/AiSpawners/DashSpawner.uasset
Content/Boxhead-Bp/Blueprints/AiSpawners/MainSpawner.uasset
Content/Boxhead-Bp/Blueprints/AiSpawners/secondSpawner.uasset
Content/Boxhead-Bp/Blueprints/AiSpawners/SpawnBox.uasset
Content/Boxhead-Bp/Blueprints/Ammo/Ammo_Box_Crate_ammo_box_04.uasset
Content/Boxhead-Bp/Blueprints/Ammo/Ammo_Crate.uasset
Content/Boxhead-Bp/Blueprints/Ammo/Crate.uasset
Content/Boxhead-Bp/Blueprints/Barrel/Bp_barrel.uasset
Content/Boxhead-Bp/Blueprints/Boxhead.uasset
Content/Boxhead-Bp/Blueprints/BulletConcpet/Bp_bulet.uasset
Content/Boxhead-Bp/Blueprints/BulletTrail/NewNiagaraEmitter.uasset
Content/Boxhead-Bp/Blueprints/BulletTrail/NS_Trail.uasset
Content/Boxhead-Bp/Blueprints/BulletTrail/NS_Trail2.uasset
Content/Boxhead-Bp/Blueprints/BulletTrail/Rotator.uasset
Content/Boxhead-Bp/Blueprints/Collision/bOX_collsiosin.uasset
Content/Boxhead-Bp/Blueprints/dASH/Dash_Color.uasset
Content/Boxhead-Bp/Blueprints/dASH/DashUpgrade.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Death_1.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Death_1_Montage.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Death_2.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Death_2_Montage.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Death_3.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Death_3_Montage.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Death_4.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Death_4_Montage.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Hit_1.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Hit_1_Montage.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Hit_2.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Hit_2_Montage.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Hit_3.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Hit_3_Montage.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Hit_4.uasset
Content/Boxhead-Bp/Blueprints/DeathAnimations/Hit_4_Montage.uasset
Content/Boxhead-Bp/Blueprints/Default__Wall_C.uasset
Content/Boxhead-Bp/Blueprints/Door/Door.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cube.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cube_Anim_Cube_Door_Open.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cube_Anim_Cube_doorclose.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cube_Anim_Cube_dooropen.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cube_Anim_Cylinder_Door_Open.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cube_Anim_Cylinder_doorclose.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cube_Anim_Cylinder_dooropen.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cube_PhysicsAsset.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cube_Skeleton.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cylinder.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cylinder_Anim_Cube_Door_Open.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cylinder_Anim_Cube_doorclose.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cylinder_Anim_Cube_dooropen.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cylinder_Anim_Cylinder_Door_Open.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cylinder_Anim_Cylinder_doorclose.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cylinder_Anim_Cylinder_dooropen.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cylinder_PhysicsAsset.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_Cylinder_Skeleton.uasset
Content/Boxhead-Bp/Blueprints/Door/Door_go_open.uasset
Content/Boxhead-Bp/Blueprints/Door/Material_002.uasset
Content/Boxhead-Bp/Blueprints/Door/Material_003.uasset
Content/Boxhead-Bp/Blueprints/Door/White.uasset
Content/Boxhead-Bp/Blueprints/ExplosionAttack/ANS_melee.uasset
Content/Boxhead-Bp/Blueprints/ExplosionAttack/BP_powderexplosion.uasset
Content/Boxhead-Bp/Blueprints/ExplosionAttack/Collision.uasset
Content/Boxhead-Bp/Blueprints/ExplosionAttack/Force.uasset
Content/Boxhead-Bp/Blueprints/Floor.uasset
Content/Boxhead-Bp/Blueprints/Guns/BP_Lazerbolt.uasset
Content/Boxhead-Bp/Blueprints/Guns/BP_Lazerbolt_C.uasset
Content/Boxhead-Bp/Blueprints/Guns/Default__BP_Lazerbolt_C.uasset
Content/Boxhead-Bp/Blueprints/Guns/Fireball.uasset
Content/Boxhead-Bp/Blueprints/Guns/FireRateIncrease_WP.uasset
Content/Boxhead-Bp/Blueprints/Guns/gun-cocking-01.uasset
Content/Boxhead-Bp/Blueprints/Guns/GunshotCue.uasset
Content/Boxhead-Bp/Blueprints/Guns/Pistol.uasset
Content/Boxhead-Bp/Blueprints/Guns/Pistol_Bullet.uasset
Content/Boxhead-Bp/Blueprints/Guns/Pistolempty.uasset
Content/Boxhead-Bp/Blueprints/Guns/RicochetBullet.uasset
Content/Boxhead-Bp/Blueprints/Guns/Sound_1.uasset
Content/Boxhead-Bp/Blueprints/Guns/Sound_2.uasset
Content/Boxhead-Bp/Blueprints/Guns/Sound_3.uasset
Content/Boxhead-Bp/Blueprints/Guns/Sound_4.uasset
Content/Boxhead-Bp/Blueprints/Guns/Sound_5.uasset
Content/Boxhead-Bp/Blueprints/Guns/Sound_6.uasset
Content/Boxhead-Bp/Blueprints/Guns/Uzi.uasset
Content/Boxhead-Bp/Blueprints/Guns/Uzi_Bullet.uasset
Content/Boxhead-Bp/Blueprints/Guns/UziChangeWpb.uasset
Content/Boxhead-Bp/Blueprints/Guns/UziNoAmmo.uasset
Content/Boxhead-Bp/Blueprints/Level_Up/ExpAGain.uasset
Content/Boxhead-Bp/Blueprints/Level_Up/Level_Widget.uasset
Content/Boxhead-Bp/Blueprints/Level_Up/Scorelevel.uasset
Content/Boxhead-Bp/Blueprints/Lights/Lightbulb.uasset
Content/Boxhead-Bp/Blueprints/M_FloorTiles1.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/boxhead.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/boxhead_Anim_Skeleton_Armature_001Action.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/boxhead_Anim_Skeleton_ArmatureAction.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/boxhead_Anim_Skeleton_CubeAction.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/boxhead_Anim_Skeleton_Gun.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/boxhead_Anim_Skeleton_Idle.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/boxhead_Anim_Skeleton_Running.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/BoxHead_FirstGun.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/boxhead_PhysicsAsset.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/boxhead_Skeleton.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/BoxHeadAnimationBPP.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/RollAnimation.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Animations_Running_Idle/RollAnimation_Montage.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/InterfaceInteract.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Monster_2021_10_26_14_32_45.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/Monster_2021_10_26_14_32_45.wav
Content/Boxhead-Bp/Blueprints/Main_Charactter/NewBlueprint.uasset
Content/Boxhead-Bp/Blueprints/Main_Charactter/ThirdPersonCharacter.uasset
Content/Boxhead-Bp/Blueprints/Maps/ActualSetUp.umap
Content/Boxhead-Bp/Blueprints/Maps/ActualSetUp_BuiltData.uasset
Content/Boxhead-Bp/Blueprints/Maps/Boxhead2.umap
Content/Boxhead-Bp/Blueprints/Maps/Boxhead2_BuiltData.uasset
Content/Boxhead-Bp/Blueprints/Maps/MainMenu.umap
Content/Boxhead-Bp/Blueprints/Maps/Testing.umap
Content/Boxhead-Bp/Blueprints/Maps/ThirdPersonExampleMap.umap
Content/Boxhead-Bp/Blueprints/Maps/ThirdPersonExampleMap_BuiltData.uasset
Content/Boxhead-Bp/Blueprints/NewBlueprint.uasset
Content/Boxhead-Bp/Blueprints/Portals/portal.uasset
Content/Boxhead-Bp/Blueprints/Portals/PortalMat.uasset
Content/Boxhead-Bp/Blueprints/Portals/PortalMat_Inst.uasset
Content/Boxhead-Bp/Blueprints/Potential_CellShade/CellShadeisntance.uasset
Content/Boxhead-Bp/Blueprints/Potential_CellShade/CellShadeTutorial.uasset
Content/Boxhead-Bp/Blueprints/Sound.uasset
Content/Boxhead-Bp/Blueprints/SoundsAndFX/Hit_Effect_1.uasset
Content/Boxhead-Bp/Blueprints/SoundsAndFX/Hit_Effect_2.uasset
Content/Boxhead-Bp/Blueprints/SoundsAndFX/SmexySlap.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/BP_time.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/M_flakes.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/M_floor.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/M_prism.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/NS_Flakes.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/PC_data.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/TimeDistoro/Primx_basecolor.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/TimeDistoro/T_Glow_1.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/TimeDistoro/T_Prism_basecolor.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/TimeDistoro/T_Prism_normal.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/TimeDistoro/T_Refraction_output.uasset
Content/Boxhead-Bp/Blueprints/TimeDistortionEffect/TimeDistoro/T_Refraction_output_1.uasset
Content/Boxhead-Bp/Blueprints/Tree/Styalised_Foliage.uasset
Content/Boxhead-Bp/Blueprints/Tree/Tree_Custom_normals.uasset
Content/Boxhead-Bp/Blueprints/Tree/Tree_Foliage.uasset
Content/Boxhead-Bp/Blueprints/Tree/Tree_ParticleEmmiter.uasset
Content/Boxhead-Bp/Blueprints/UI/AiHealth_Widget.uasset
Content/Boxhead-Bp/Blueprints/UI/Box.uasset
Content/Boxhead-Bp/Blueprints/UI/CombatTextWBP.uasset
Content/Boxhead-Bp/Blueprints/UI/DashBar.uasset
Content/Boxhead-Bp/Blueprints/UI/DmgIndicator_WBp.uasset
Content/Boxhead-Bp/Blueprints/UI/EjCmfey.uasset
Content/Boxhead-Bp/Blueprints/UI/GameStart_WBP.uasset
Content/Boxhead-Bp/Blueprints/UI/GameStart_WBP1.uasset
Content/Boxhead-Bp/Blueprints/UI/MainMenu_BP.uasset
Content/Boxhead-Bp/Blueprints/UI/pause_menu.uasset
Content/Boxhead-Bp/Blueprints/UI/Ui_HealthBar.uasset
Content/Boxhead-Bp/Blueprints/UI/WBP_EndScreen2.uasset
Content/Boxhead-Bp/Blueprints/UI/WBP_UI2.uasset
Content/Boxhead-Bp/Blueprints/UI/Welome_WBP.uasset
Content/Boxhead-Bp/Blueprints/UI/WPB_Health.uasset
Content/Boxhead-Bp/Blueprints/Wall.uasset
Content/Boxhead-Bp/Blueprints/Wall_C.uasset
Content/Boxhead-Bp/Blueprints/WallBlueprint/MovableWall.uasset
Content/Boxhead-Bp/Blueprints/WallBlueprint/MovableWall2.uasset
Content/Boxhead-Bp/Blueprints/WallBlueprint/MovableWall3.uasset
Content/Boxhead-Bp/Blueprints/WallBlueprint/MovableWall4.uasset
Content/Boxhead-Bp/Blueprints/WallBlueprint/MovableWall5.uasset
Content/Boxhead-Bp/Blueprints/WallBlueprint/Wall.uasset
Content/Boxhead-Bp/Blueprints/WallBlueprint/WallCollider.uasset
Content/Boxhead-Bp/Default__AI_Zombie_C.uasset
